.about-us {
  display: grid;
  grid-template-areas: "a a b c";
  margin-top: 150px;
  margin-bottom:300px;
}

#aboutPart1 {
  grid-area: b;
  width: 50%;
  margin: 0 0 0 75px;
}

#aboutPart2 {
  grid-area: c;
  width: 50%;
  margin: 0px;
  margin: 60px 0 100px 400px;
}

.about-us-title {
  margin: 0px;
  margin: -50px 0 0 75px;
}

#aboutUsPhoto {
  grid-area: a a;
  width: 500px;
  margin: -50px 0 100px 150px;
}

.text {
  font-size: 25px;
  text-align: right;
  font-weight: 300;
}