.about-us {
  display: grid;
  grid-template-areas: "a a b c";
  margin-top: 300px;
  margin-bottom:300px;
}
#aboutUsJump{
  padding-top:150px;
}

#aboutUsText {
  grid-area: b;
  width: 45%;
  margin: 0px 0 0 100px;
  color: rgb(122, 117, 117);
}

.about-us-title {
  margin: 0px;
  margin: -70px 0 0 100px;
  font-size: 30px; 
}

#aboutUsPhoto {
  grid-area: a a;
  width: 500px;
  margin: -50px 0 100px 300px;
}

.text {
  font-size: 25px;
  text-align: right;
  font-weight: 300;
}
@media (max-width: 415px) {
  #aboutUsPhoto{
    opacity: 1 !important;
    margin-top: -30% !important;
  }
  .about-us-text{
    opacity: 1 !important;
    margin-top: -45% !important;
    width: 460% !important;
  }
}