.locations ul {

}

.location-info, .ny-info, .la-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.red-under {
  border-bottom: 3px solid red;
}

li {

}

h3 {
  text-align: center;
}

img {
  width: 30vw;
}
