.locations{
  position:relative;
  width:86%;
  left:7%;
  padding-top: 100px;
  margin-top: -250px;
}
.locations h2 {
  text-align: center;
}

.location-info, .ny-info, .la-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.rest-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* left: 5%; */
  width: 90%;
  position:relative;
} 

.city-info {
  display: flex;
  justify-content: center;  
  width: 90%;
  left:5%;
}  

.city-info p {
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
}

.red-under {
  border-bottom: 3px solid red;
}

.bold {
  font-weight: bold;
}

.under {
  text-decoration: underline;
}

li {
  pointer-events: initial;
  text-decoration: none;
}

.locations h2, h3, h4 {
  text-align: center;
  margin: 0;
}

.location-info img {
  width: 35vw;
}

@media (max-width: 415px) {
  .locations{
    opacity:1 !important;
  }

  .locations ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .locations li {
    margin: 10px;
  }
  
  .location-info, .ny-info, .la-info, .city-info{
    flex-direction: column;
    justify-content: space-between;
  }

  .nym-info, .lad-info {
    margin-bottom: 80px;
  }

  .city-info p {
    width: 90%;
    text-align: center;
  }

  .location-info img {
    width: 70vw;
  }
}
