.mediaContainer {
    font-size: 10px;
    position:relative;
    display: inline-flex;
    flex-flow: column wrap;
    height: 700px;
    width: 90%;
    left:10%;
    text-align: left;
}
#pressJump{
    padding-top:40px;
    margin-top:-40px;
}
.pressHeader{
    margin:100px 0 70px 0;
    text-align: center;
}
.mediaContainer>* {
    margin: auto;
    width: 30%;
    background: rgba(0,0,0,0);
    padding: 0 20px 30px 50px;
}
.mediaContainer>*>*>*{
    background: rgba(0,0,0,0);
    transition: background 0.5s ease-in-out;
}
.mediaContainer>*>*>*:hover{
    background: rgba(0,0,0,0.05);
    cursor: pointer;
}
#pressImage{
    margin:0 0 -50px 300px;
}
@media (max-width: 415px) {
    .press{
      opacity: 1 !important;
    }
}