.App {
  text-align: center;
}

header {
  
}

nav {
  background-color: #1E1E1E;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
}

li {
  display: inline-block;
  
}

li a {
  text-decoration: none;
}
